 body{
    margin: 0;
    padding: 0;
    background-color: rgb(116, 34, 34);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} 
img{
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
    z-index: 2;

}
.clock{
    position: relative;
    background-color: rgb(100, 73, 73);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 1px 1px 4px rgb(0,0,0,.7);


}
.numbers div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgb(0, 0, 0 ,.7);
}
.twelve{
    top:6px;
    left: 50%;
    transform: translateX(-50%);
}
.nine{
    top: 50%;
    left:  6px;
    transform: translateY(-50%);
}
.three{
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}
.six{
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}
.arraros{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.arraros::before{
    content: "";
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgb(0, 0, 0 ,.7);
    z-index: 4;
}
.arraros div{
    background-color: aquamarine;
    width: 7px;
    position: absolute;
    height: 120px;
    transform-origin:bottom center ;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0 ;
    box-shadow: 1px 1px 2px rgb(0, 0, 0 ,.7)  ;

}
.arraros .houre{
    height: 90px;
    transform:  rotate(30deg);
    background-color: darkorchid;
}
.arraros .second{
    
    transform:  rotate(250deg);
    background-color: blue;
}
.arraros .minutes{
    background-color: chartreuse;
}






